# =====================
# Terraform
# =====================
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.lock.hcl
# =====================
# SSH / Keys
# =====================
*.pem
*.key
# ====================
# Application files
# =====================
app/*
# =====================
# Ansible
# =====================
ansible/inventory
ansible/*.conf
ansible/**/client.conf
ansible/**/server.conf

# =====================
# WireGuard
# =====================
wireguard/*.conf
ansible/**/wireguard/*.conf

# Allow templates
!**/*.example

