apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: waisahmadi0907/flask-app:v2
        ports:
        - containerPort: 5000

