[Interface]
Address = 10.8.0.1/24
ListenPort = 51820
PrivateKey = {{ server_private.stdout }}

PostUp   = iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
PublicKey = {{ client_public.stdout }}
AllowedIPs = 10.8.0.2/32

